.col-4 {
    background-color:#e9ecef;
    max-width: 230px;
    padding:0px 10px;
    margin: 0px 10px;
    min-height: 50px
}
.row {
    margin-top: 25px
}

#noTemplates {
    background-color: #F2D399;
    margin: 25px 10px 0px;
    width:213px;
    height:100px;
    line-height:100px
}
.hidden {
    background-color: #F2D399;
    max-width: 230px;
    padding:0px 10px;
    margin: 25px 10px 0px;
    min-height: 120px
}
.btn-danger {
    margin-top: 10px
}
.modal-dialog {
    min-width: 70%
}

div.form-check.form-check-inline {
    padding-top: 11px;
    padding-left: 50px 
  }