.col-4 {
    background-color: lightgray;
    max-width: 230px;
    padding:0px 10px;
    margin: 0px 10px;
    min-height: 50px
}
.row {
    margin-top: 25px
}
.hidden {
    background-color: lightgray;
    max-width: 230px;
    padding:0px 10px;
    margin: 25px 10px 0px;
    min-height: 120px
}
.btn-danger {
    margin-top: 10px
}